<h1> List of Users </h1>

<hr>

<% if session.fetch(:user_id) == nil %>

<table border="1">

  <tr>
    <th> Username  </th>
    <th>  Private ? </th>
    <th>  </th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td> <%= user.username  %> </td>
    <td> 
      <% if user.private == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    
    <td> <a href="/users/<%= user.username %>"> Show details </a> </td>
  </tr>
  <% end %>
</table>

<% else %>

<table border="1">

  <tr>
    <th> Username  </th>
    <th>  Private ? </th>
    <th>  </th>
    <th>  </th>

  </tr>

  <% @users.each do |user| %>
  <tr>
    <td> <%= user.username  %> </td>
     <td> 
      <% if user.private == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    <td> 
        <% if FollowRequest.all.where({:recipient_id => user.id}).where({:sender_id => @signed_user.id}).at(0) != nil %>
          <% if FollowRequest.all.where({:recipient_id => user.id}).where({:sender_id => @signed_user.id}).at(0).status == "accepted"%>
            <a href="/unfollow"> Unfollow  </a>
          <% elsif  FollowRequest.all.where({:recipient_id => user.id}).where({:sender_id => @signed_user.id}).at(0).status == "pending"%>
            Request sent <a href="/cancel_request"> Cancel  </a>
          <% elsif  FollowRequest.all.where({:recipient_id => user.id}).where({:sender_id => @signed_user.id}).at(0).status == "rejected"%>
          <% end %>
        <% else  %>
            <button> Follow   </button>
        <% end  %>

    </td>

    <td> <a href="/users/<%= user.username %>"> Show details </a> </td>
  </tr>
  <% end %>
</table>

<% end %>
